@model IEnumerable<daraz.Datamodel.Johan>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h1>Index</h1>


<p>
    <a asp-action="Create">Create New johan</a>
</p>
<table class="table">
    <thead class="table table-bordered table-info bg-black">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table table-bordered bg-secondary text-white">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td class="text-danger">
                    <a class="text-warning" asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-success">Edit</button></a> |
                    <a class="text-warning" asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-warning">Details</button></a> |
                    <a class="text-white  btn btn-success bg-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash text-black"></i> Delete</a>

                    
                   
            </td>
        </tr>
}
    </tbody>
</table>
