@model daraz.Datamodel.Block

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Block</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Block_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Block_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Block_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Block_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Block_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Block_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suggestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suggestions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Block_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
